@import "../../../data/styles.css";

.works-body {
	margin-bottom: 10px;
}

.work {
	display: flex;
	flex-direction: column;
	padding-bottom: 40px;
}

.work-header {
	display: flex;
}

.work-info {
	display: flex;
	position: relative;
	top: -10px;
}

.work-image {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	outline: 6px solid white;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
	margin-top: 16px;
}

.work-title {
	font-size: 15px;
	font-weight: 700;
	padding-left: 20px;
	margin-top: 20px;
	color: var(--secondary-color);
}

.work-subtitle {
	position: relative;
	font-size: 12px;
	color: var(--secondary-color);
	flex: 1;
	padding-left: 60px;
}

.work-duration {
	position: relative;
	width: 150px;
	font-size: 12px;
	text-align: right;
	color: var(--tertiary-color);
}
