.homepage-logo-container {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 130px;
}

.homepage-container {
	padding-top: 25px;
}

.homepage-title {
	color: #27272a;
	font-family: "Roboto", sans-serif;
	font-size: 45px;
	font-weight: 700;
	width: 70%;
}

.homepage-subtitle {
	padding-top: 10px;
	color: #52525b;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	font-size: 16px;
	line-height: 28px;
	width: 70%;
}

.homepage-socials {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 20px;
}

.homepage-social-icon {
	padding-right: 20px;
	font-size: 25px;
	color: #52525b;
}

.homepage-after-title {
	display: flex;
}

.homepage-articles {
	flex-basis: 900px;
	padding-top: 60px;
	margin-left: -30px;
}

.homepage-article {
	padding-bottom: 5px;
}

.homepage-works {
	flex-basis: 600px;
	padding-top: 70px;
}

@media (max-width: 600px) {
	.homepage-title {
		width: 100%;
	}

	.homepage-subtitle {
		font-size: 20px;
		width: 100%;
	}

	.homepage-articles {
		margin-left: 0px;
	}
}
