::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: #383636;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(0, 0, 0);
}

.page-content {
	background-color: white;
	position: relative;
}

.page-content:before,
.page-content:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	width: calc((100% - 1200px) / 2);
	background-color: #fafafa;
	border: 1px solid #f4f4f5;
}

.page-content:before {
	left: 0;
}

.page-content:after {
	right: 0;
}

.content-wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

.title {
	color: #27272a;
	font-family: "Roboto", sans-serif;
	font-size: 45px;
	font-weight: 700;
	width: 70%;
}

.subtitle {
	padding-top: 10px;
	color: #52525b;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	font-size: 16px;
	line-height: 28px;
	width: 70%;
}

.page-footer {
	position: relative;
}

.page-footer::before {
	content: "";
	position: absolute;
	left: -9.7%;
	right: 0;
	height: 1px;
	width: 80vw;
	background-color: #f4f4f5;
}

@media (max-width: 600px) {
	.content-wrapper {
		max-width: 90%;
		margin: 0 auto;
		padding: 0 10px;
	}

	.page-content:before,
	.page-content:after {
		display: none;
	}

	.title {
		width: 100%;
	}

	.page-footer::before {
		width: 100vw;
	}
}
